@model Compras_Inventario_Fereteria.Models.rol_operacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>Esta seguro de borrar este registro?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.operacioes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operacioes.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roles.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            <button class="btn btn-default " onclick="location.href='@Url.Action("Index")';return false;">Regresar</button>
        </div>
    }
</div>
