@model Compras_Inventario_Fereteria.Models.rol_operacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Rol Operacion</h1>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.operacioes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operacioes.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roles.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.nombre)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-info " onclick="location.href='@Url.Action("Edit", new { id = Model.id_rol_operacion })';return false;">Editar</button>
    <button class="btn btn-default " onclick="location.href='@Url.Action("Index")';return false;">Regresar</button>
</p>
