@model IEnumerable<Compras_Inventario_Fereteria.Models.productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="jumbotron">
        <h1>Productos <i class="fas fa-dolly-flatbed"></i></h1>
    </div>
</div>
<p>
    <button class="btn btn-success btn-lg " onclick="location.href='@Url.Action("Create")';return false;">Crear Nuevo <i class="fas fa-plus-square size:300x"></i></button>
</p>


<table class="table table-hover">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria.tipo_categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor.nombre)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
<tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.tipo_categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.nombre)
        </td>
        <td>
            <button class="btn btn-info" onclick="location.href='@Url.Action("Edit",new { id = item.id_producto })';return false;">Editar</button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.id_producto })';return false;">Detalles</button>
            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.id_producto })';return false;">Borrar</button>
        </td>
    </tr>
</tbody>
}

</table>

<button class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index","Home")';return false;">Inicio <i class="fas fa-home"></i></button>
<button class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Print","productos")';return false;"><i class="fas fa-print" size="9x"></i> Generar Reporte</button>

