@model IEnumerable<Compras_Inventario_Fereteria.Models.operacioes>

@{
    ViewBag.Title = "Operaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="jumbotron">
        <h1>Operaciones <i class="fas fa-chess-pawn"></i></h1>
    </div>
</div>
<p>
    <button class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Create")';return false;">Crear Nuevo <i class="fas fa-plus-square size:300x"></i></button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            <button class="btn btn-info" onclick="location.href='@Url.Action("Edit",new { id = item.id_operaciones })';return false;">Editar <i class="fas fa-edit"></i></button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.id_operaciones })';return false;">Detalles <i class="fas fa-info-circle"></i></button>
            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.id_operaciones })';return false;">Borrar <i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
}

</table>

<button class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index","usuarios")';return false;">Regresar <i class="fas fa-arrow-circle-left"></i></button>
