@model Compras_Inventario_Fereteria.Models.compras

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de la Compra</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-info " onclick="location.href='@Url.Action("Edit", new { id = Model.id_compras })';return false;">Editar</button>
    <button class="btn btn-default " onclick="location.href='@Url.Action("Index", new { id = Model.id_compras })';return false;">Regresar</button>
</p>
