@model IEnumerable<Compras_Inventario_Fereteria.Models.compras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Compras</h1>

<p>
    <button class="btn btn-success " onclick="location.href='@Url.Action("Create")';return false;">Crear Nuevo</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productos.nombre_producto)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarios.nombre)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.productos.nombre_producto)

    </td>
    <td>

        @Html.DisplayFor(modelItem => item.usuarios.nombre)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.cantidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.total_compra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha)
    </td>
    <td>
        <button class="btn btn-info" onclick="location.href='@Url.Action("Edit",new { id = item.id_compras })';return false;">Editar</button>
        <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.id_compras })';return false;">Detalles</button>
        <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.id_compras })';return false;">Borrar</button>
    </td>
</tr>
}

</table>

<button class="btn btn-default" onclick="location.href='@Url.Action("Index","Home")';return false;">Inicio</button>
