@model IEnumerable<Compras_Inventario_Fereteria.Models.proveedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="jumbotron">
        <h1>Proveedores <i class="fas fa-truck"></i></h1>
    </div>
</div>
<p>
    <button class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Create")';return false;">Crear Nuevo <i class="fas fa-plus-square size:300x"></i></button>
</p>
<table class="table" id="tabla_proveedores">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <button class="btn btn-info" onclick="location.href='@Url.Action("Edit",new { id = item.id_proveedor })';return false;">Editar <i class="fas fa-edit"></i></button>
                <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.id_proveedor })';return false;">Detalles <i class="fas fa-info-circle"></i></button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.id_proveedor })';return false;">Borrar <i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    }

</table>
<button class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index","Home")';return false;">Inicio <i class="fas fa-home"></i></button>

@section scripts{
    <script>
        $(document.ready(function (){
            $("#tabla_proveedores").DataTable
        })
    </script>
    
    }