@model Compras_Inventario_Fereteria.Models.usuarios

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>
    <div>
        <h2>Detalles de Usuario</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pasword)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pasword)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.roles)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.roles.nombre)
            </dd>
    
        </dl>
    </div>
    <p>
        <button class="btn btn-default " onclick="location.href='@Url.Action("Edit", new { id = Model.id_usuario })';return false;">Editar</button>
        <button class="btn btn-default " onclick="location.href='@Url.Action("Index", new { id = Model.id_usuario })';return false;">Regresar</button>
       
</body>
</html>
