@model IEnumerable<Compras_Inventario_Fereteria.Models.usuarios>
@{ ViewBag.Title = "Login"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios del Sistema</title>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Usuarios del Sistema <i class="fas fa-users"></i></h1>
        </div>
    </div>
    <p>
        <button class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Create")';return false;">Crear Nuevo <i class="fas fa-plus-square size:300x"></i></button>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pasword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roles.nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pasword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roles.nombre)
                </td>
                <td>
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Edit",new { id = item.id_usuario })';return false;">Editar <i class="fas fa-edit"></i></button>
                    <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.id_usuario })';return false;">Detalles <i class="fas fa-info-circle"></i></button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.id_usuario })';return false;">Borrar <i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }

    </table>
    <br />
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Opciones de Mantenimiento de Roles</h2>
            <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index","roles")';return false;">Roles <i class="fas fa-user-tag"></i></button>
            <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index","rol_operacion")';return false;">Rol Operaciones <i class="fas fa-people-arrows"></i></button>
            <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index","operacioes")';return false;">Operaciones <i class="fas fa-chess-pawn"></i></button>
            <br />
        </div>
    </div>
    
    <br />
    <br />
    <br />
    <br />
    <button class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Index","Home")';return false;">Inicio <i class="fas fa-home"></i></button>
</body>

</html>
