@model IEnumerable<Compras_Inventario_Fereteria.Models.usuarios>
@{ ViewBag.Title = "Login"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios</title>
</head>
<body>
    <h1>Usuarios</h1>
    <p>
        <button class="btn btn-success " onclick="location.href='@Url.Action("Create")';return false;">Crear Nuevo</button>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pasword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roles.nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pasword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roles.nombre)
                </td>
                <td>
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Edit",new { id = item.id_usuario })';return false;">Editar</button>
                    <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.id_usuario })';return false;">Detalles</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.id_usuario })';return false;">Borrar</button>
                </td>
            </tr>
        }

    </table>
    <br />
    <h3>Opciones de Mantenimiento de Roles</h3>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index","roles")';return false;">Roles</button>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index","rol_operacion")';return false;">Rol Operaciones</button>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index","operacioes")';return false;">Operaciones</button>
    <br />
    <br />
    <br />
    <br />
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index","Home")';return false;">Inicio</button>
</body>

</html>
